@model IEnumerable<Contato>
@using Microsoft.AspNetCore.Http
@{

    ViewData["Title"] = "Inbox";
}

<div class="text-center">
    <h1 class="display-4">Caixa de Entrada</h1>
</div>

<div class="container">
    <div class="row d-flex justify-content-center">
        @foreach (Contato cont in Model)

        {
            <div class="card mb-3 mr-3" style="width: 20rem;">
                <img src="https://www.mailbiz.com.br/wp-content/uploads/bfi_thumb/double-optin-email-marketing-2z7n56q1ezaqnhjn1je78s89oc65an2gb4q28m6xmnkbm9akw.jpg" class="card-img-top" alt="Inbox">
                <div class="card-body">
                    <h5 class="card-title">@cont.Subject </h5>
                    <p>@cont.Name</p>
                    <p>@cont.Email @cont.ContactNum</p>
                    <p class="card-text">@cont.Message</p>
                            <a href="/Contato/Editar?Id=@cont.Id" class="btn btn-outline-success">Abrir</a>
                            <a href="/Contato/Excluir?Id=@cont.Id" class="btn btn-outline-danger">Excluir</a>
                </div>
            </div>

        }
    </div>
</div>